/* =========================
   MEASUREMENTS
========================= */

.measurement-container{

    background:white;
    padding:30px;

    border-radius:20px;

    box-shadow:
        0 5px 20px rgba(0,0,0,.08);
}

.measurement-title{

    font-size:30px;
    font-weight:700;

    margin-bottom:30px;
}

.measurement-image{
    width:100%;
    max-width:500px !important;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s;
}
.measurement-image:hover{
width: 101%;
max-width: 600px;
transition: all 0.5s;
transform: translateX(-40);
}

.form-label{

    font-weight:600;
}

.form-control{

    border-radius:10px;
    height:50px;
}

.measurement-btn{

    padding:12px 35px;
    border-radius:10px;
}

.measurement-info{

    background:#f8f9fa;
    padding:20px;
    border-radius:10px;
    margin-top:20px;
}

@media(max-width:768px){

    .measurement-container{
        padding:20px;
    }

}