<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <form action="/predict-body" method="POST">

    <input
        type="number"
        name="height"
        placeholder="Height">

    <input
        type="number"
        name="weight"
        placeholder="Weight">

    <input
        type="number"
        name="arm_length"
        placeholder="Arm Length">

    <input
        type="number"
        name="leg_length"
        placeholder="Leg Length">

    <input
        type="number"
        name="neck"
        placeholder="Neck">

    <button
        type="submit">
        Predict
    </button>

</form>
</body>
</html>